@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&subset=cyrillic,cyrillic-ext');
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #242424;
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
    color: #242424;
}
body {
    background-color: #f6f7fb;
}
label {
    font-weight: normal;
}
#page-preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #f6f7fb;
    z-index: 1000;
}

#page-preloader .spinner {
    width: 320px;
    height: 320px;
    position: absolute;
    left: 41%;
    top: 30%;
    background: url('/assets/images/spinner.gif') no-repeat 50% 50%;
}

.logo {
    background-color: #fff;
    width: 80px;
    height: 80px;
}
.header_sidebar {
    width: 80px;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    background: -webkit-linear-gradient(132deg, #3e3ea2, #7f7cf1);
    background: -o-linear-gradient(132deg, #3e3ea2, #7f7cf1);
    background: linear-gradient(318deg, #3e3ea2, #7f7cf1);
    top: 0;
}
.header_sidebar .nav li a:hover, .header_sidebar .nav li a:active, .header_sidebar .nav li a:focus {
    /*opacity: 0.7;*/
    background-color: #3e3ea2;
}

.header_sidebar ul {
    list-style-type: none;
}
.header_sidebar .nav li a {
    text-align: left;
    padding: 10px 15px 10px 15px;
}
.header_sidebar .nav li.logo a {
    padding: 0;
}
.header_sidebar .nav li a span {
    opacity: 0.7;
    font-weight: 500;
    color: #ffffff;
}
.header_sidebar .nav li a span:first-child {
    opacity: 1;
}
.header_sidebar .nav li a img {
    width: 24px;
    margin: 11px;
}
.header_nav_top {
    height: 80px;
    z-index: 10000;
    background: #fff;
}
.header_nav_top a {
    height: 80px;
}
.header_nav_top li.menu_links {
    color: rgba(36, 36, 36, 0.7);
    padding-right: 49px;

}
.header_nav_top li.menu_links a{
    padding-right: 0;
    padding-left: 0;
}
.header_nav_top li.menu_links.active_menu a {
    color: rgba(36, 36, 36, 1);
    border-bottom: 4px solid rgba(62, 62, 162, 1.0);
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #fff;
    color: #242424;
}
.navbar-nav>li>a {
    line-height: 50px;
}
.navbar-nav>li>a:hover {
    border-bottom: 4px solid #3e3ea2;
}
.navbar-right>li>a:hover {
    border-bottom: none;
}
.navbar-right>li>a {
    padding: 15px 10px;
}
span.chevron-down {
    width: 13px;
    height: 7.6px;
    background-image: url("/assets/images/arrow_black.svg");
    display: inline-block;
    margin-right: 15px;
}
.logo_img {
    width: 56px;
    height: 56px;
    background-size: cover;
    border-radius: 56px;
    display: inline-block;
    background-position: center;
}
.logo_img_li {
    padding-right: 36px;
}
img.bell {
    height: 23px;
}
span.caret {
    display: inline-block;
    width: 13px;
    height: 7.6px;
    margin-left: 2px;
    vertical-align: middle;
    border: none !important;
    background-image: url("/assets/images/arrow_black.svg");
}

.open span.caret, .open .chevron-down {
    display: inline-block;
    width: 13px;
    height: 7.6px;
    vertical-align: middle;
    border: none;
    background-image: url("/assets/images/arrow_black.svg");
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.navbar-right .dropdown.open .dropdown-menu {
    position: absolute;
    right: 0;
    margin-right: -77px;
    width: 241px;
    height: 38px;
}
.navbar-right .dropdown.bell.open .dropdown-menu {
    position: relative;
    right: 0;
    margin-right: 0;
    width: auto;
    height: auto;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #fff;
    color: #fc6666;
    text-align: right;
}
.dropdown-menu>li>a, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    text-decoration: none;
    color: #fc6666;
    background-color: #fff;
    height: 29px;
}

.logo_left {
    width: 80px;
    height: 80px;
    background: #fff;
    background-image: url("/assets/images/Logo.svg");
    display: inline-block;
    background-size: 77%;
    background-repeat: no-repeat;
    background-position-x: 7px;
    background-position-y: 10px;
}
.exit_menu {
    min-width: 163px;
    text-align: right;
}
.bell.open a {
    text-align: right;
}
.header_sidebar .nav li:first-child a:hover, .header_sidebar .nav li:first-child a:active, .header_sidebar .nav li:first-child a:focus {
    background: transparent;
}

.dropdown-menu li a:hover {
    background: rgba(127, 124, 241, 0.3);;
}
.dropdown-menu.exit li a span{
    color: #fc6666;
    font-size: 13px;
}
.logo_recomendations a img,
.admin_logo a img {
    opacity: 0.7;
}
.dropdown-menu.exit li a img{
    height: 15px;
    padding-left: 145px;
    margin-bottom: 6px;
}
.title {
    display: none !important;
}
nav li:first-child.menu_links {
    padding-left: 15px;
}
#content-main {
    padding-top: 110px;
    padding-left: 80px;
    min-height: calc(100vh - 70px);
    max-width: 1440px;
    margin: 0 auto;
    display: flow-root;
}


.header_nav_top { margin-left: 80px; }

label {
    width: 15px;
    height: 15px;
    position: relative;
}
input[type="radio"] + span {
    position: absolute;
    left: 0;
    top: 6px;
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/Radio_Hover.svg");
    cursor: pointer;
}
input[type="radio"]:checked + span {
    background-image: url("/assets/images/Radio.svg");
}
.filter_checkbox {
    display: none;
}
.checkbox_box a {
    padding-right: 50px;
}

.checkbox_box label {
    margin-right: 7px;
}
.logo_img.admin {
    background-image: url(/assets/images/Logo.svg);
    background-size: 69%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(36, 36, 36, .1);
    background-position-y: 6px;
}
.active_menu_sidebar {
    background-color: #3e3ea2;
}
textarea {
    resize: none;
}
.modal-backdrop {
    filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=5);
}
.modal-backdrop.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.modal-title {
    padding-top: 30px;
}
.modal-header .close {
    margin-top: -21px;
    margin-right: -50px;
}
.modal-header p {
    text-align: center;
    padding: 5px;
}
.modal-title {
    text-align: center;
    padding-bottom: 30px;
}
.modal-header p:last-child {
    padding-bottom: 25px;
}
.modal-backdrop {
    background-color: #fff;
}
input.form-control {
    padding: 20px;
}
.form-control:focus {
    border-color: #3E3EA2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default, .btn-default:focus, .btn-default.focus, .btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    color: #242424;
    background-color: #fff;
    border-color: #3E3EA2;
}
.datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.active, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled:hover.active {
    background: linear-gradient(318deg, #3e3ea2, #7f7cf1);
    color: #fff;
}
.datetimepicker table tr td.today, .datetimepicker table tr td.today:hover, .datetimepicker table tr td.today.disabled, .datetimepicker table tr td.today.disabled:hover {
    background-color: #fde19a;
    background-image: -moz-linear-gradient(top,#eee,#eee) !important;
    background-image: -ms-linear-gradient(top,#eee,#eee) !important;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#eee),to(#eee)) !important;
    background-image: -webkit-linear-gradient(top,#eee,#eee) !important;
    background-image: -o-linear-gradient(top,#eee,#eee) !important;
    background-image: linear-gradient(to bottom,#eee,#eee) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee',endColorstr='#eee',GradientType=0);
    border-color: #eee #eee #eee !important;
    color: rgb(36, 36, 36) !important;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.max_length_limit {
    white-space: nowrap;
    overflow: hidden;
}
label.error {
    color: red;
}
.modal-dialog {
    width: 722px;
    margin: 30px auto;
}
.modal-content {
    height: 407px;
}
input.error {
    border: 1px solid red !important;
}
textarea.error {
    border: 1px solid red !important;
}
input.check_full.error, textarea.check_ful.error {
    background-image: none;
}
.save_btn {
    background-color: #FFD64D;
    padding: 11px 93px;
    border-radius: 72px;
    border: none;
}
.wrap_btn {
    text-align: center;
    margin-bottom: 50px;
    line-height: 40px;
}
#footer {
    min-height: 69px;
    padding-top: 26px;
    margin-left: 95px;
}
#footer a {
    text-decoration: underline;
    font-size: 14px;
    opacity: 0.7;
}
#footer a.mail {
    text-decoration: none;
    margin-right: 30px;
}
#footer span {
    font-size: 14px;
    opacity: 0.7;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    background-color: transparent;
    background: -webkit-linear-gradient(132deg, #7f7cf1, #3e3ea2);
    background: -o-linear-gradient(132deg, #7f7cf1, #3e3ea2);
    background: linear-gradient(318deg, #7f7cf1, #3e3ea2);
    border-color: transparent;
    cursor: default;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    z-index: 2;
    color: #7f7cf1;
    background-color: #eee;
    border-color: #ddd;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #7f7cf1;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
.navbar {
    margin-bottom: 0px;
}
.user_files div {
    padding: 0;
}
.add_input_tag_img {
    width: 17px;
    float: left;
    margin: 12px 0 0 12px;
    display: none;
}
#result_status_new_tag {
    float: left;
    max-width: 327px;
    font-size: 13px;
    color: #42A23E;
    line-height: 20px;
    display: none;
    margin: 8px 0 0 12px;
}
.back_to_profile {
    margin: 0 20px 26px 20px;
}
.back_to_profile img {
    width: 13px;
    height: 7.6px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-right: 7px;
    margin-top: -2px;
}
.wrap_admin_links {
    min-height: 45px;
}