.btn_gamma,
.btn_gamma:active:hover,
.btn_gamma.active:hover,
.open>.dropdown-toggle.btn_gamma:hover,
.btn_gamma:active:focus,
.btn_gamma.active:focus,
.open>.dropdown-toggle.btn_gamma:focus,
.btn_gamma:active.focus,
.btn_gamma.active.focus,
.open>.dropdown-toggle.btn_gamma.focus {
    color: #fff;
    background-color: transparent;
    background: -webkit-linear-gradient(132deg, #7f7cf1, #3e3ea2);
    background: -o-linear-gradient(132deg, #7f7cf1, #3e3ea2);
    background: linear-gradient(318deg, #7f7cf1, #3e3ea2);
    border-color: transparent;
}
.btn_gamma:hover,
.btn_gamma:focus {
    color: #fff;
    background-color: transparent;
    background: -webkit-linear-gradient(132deg, #7f7cf1, #3e3ea2);
    background: -o-linear-gradient(132deg, #7f7cf1, #3e3ea2);
    background: linear-gradient(318deg, #7f7cf1, #3e3ea2);
    border-color: transparent;
    opacity: 0.7;
}
.title_menu_admin a {
    position: absolute;
    top: 25px;
    right: 25px;
}
.select_admin {
    margin: 40px 0;
}
#navigation {
    text-align: center;
}
#preview img {
    width: 100%;
}
#content {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#content a {
    color: #3e3ea2;
}
.modal-header {
    text-align: center;
}
.modal-footer {
    text-align: center;
}
#myModal {
    margin-top: 150px;
}
.modal-footer button {
    margin: 0 5px;
}
.bootstrap-select {
    display: inline;
    margin-right: 2%;
    height: 40px;
    width: 19%;
    border-radius: 3px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 0 0 rgba(18, 18, 98, 0.07);
    box-shadow: 0 1px 0 0 rgba(18, 18, 98, 0.07);
    border: none;
}
.bootstrap-select, .btn.dropdown-toggle.btn-default {
    height: 40px;
    border: none;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    height: 32px;
    background-color: rgba(127, 124, 241, 0.3);
}
.bootstrap-select.btn-group .dropdown-menu li a {
    height: 32px;
    line-height: 26px;
}
.table {
    margin-bottom: 0;
}
.success_admin_button {
    width: 30px;
    height: 30px;
    background-image: url("/assets/images/check-circle.svg");
    background-size: cover;
    display: inline-block;
    background-position: center;
}
.edit_admin_button {
    width: 30px;
    height: 30px;
    background-image: url("/assets/images/Edit_Solid_Hover_Blue.svg");
    background-size: cover;
    display: inline-block;
    background-position: center;
    opacity: 0.7;
}
.delete_admin_button {
    width: 30px;
    height: 30px;
    background-image: url("/assets/images/Trash_Solid_Hover_Red.svg");
    background-size: cover;
    display: inline-block;
    background-position: center;
}
.buttons_admin_table {
    text-align: center;
}
.clear_filter {
    height: 40px;
    border-radius: 20px;
    background-color: #ffd64d;
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}
.title {
    display: none !important;
}
.title_info_box {
    padding: 22px;
    background: #fff;
    margin-bottom: 30px;
    border: 1px solid #ccc;
}
.title_text_box {
    font-weight: 500;
    font-size: 24px;
}
#reason_add_recom_admin {
    display: none;
}
#ajax_info_user {
    padding: 15px;
}
#ajax_info_leader {
    padding: 15px;
}
.wrapper_recomm {
    display: inline-block;
    width: 100%;
    min-height: 230px;
}
th {
    font-weight: 500;
}
td, td a, td p, td span  {
    font-size: 14px !important;
}
span.image_name {
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    border: solid 3px #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 290px;
}
progress {
    height: 7px;
    width: 290px;
    border: 0;
    background-color: rgba(62, 62, 162, 0.08);
}
progress::-webkit-progress-bar {
    height: 7px;
    width: 290px;
    border: 0;
    background-color: rgba(62, 62, 162, 0.08);
}
progress::-webkit-progress-value {
    height: 7px;
    width: 290px;
    border: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#7f7cf1), to(#3e3ea2));
    background: -webkit-linear-gradient(top, #7f7cf1, #3e3ea2);
    background: linear-gradient(to bottom, #7f7cf1, #3e3ea2);

}
progress::-moz-progress-bar {
    height: 7px;
    width: 290px;
    border: 0;
    background: linear-gradient(to bottom, #7f7cf1, #3e3ea2);
}
.load_file {
    border: 2px solid #FFD64D;
    font-size: 13px;
    padding: 8px 29px;
    border-radius: 20px;
}
#sortpicture {
    display: none;
}
.file_upload {
    display: inline-block;
    width: 100%;
    margin: 26px 0;
    cursor: pointer;
}

p.errors_image {
    margin: 20px;
    text-align: center;
    font-size: 13px;
}
label {
    font-size: 13px;

    margin: 25px 0 10px 0;
    position: relative;
    display: inline-block;
    width: 100%;
}
label mark {
    opacity: 0.7;
}
.info_box {
    padding: 0;
}
.info_box_title {
    border-bottom: solid 2px rgba(18, 18, 98, 0.07);
    background-color: #fff;
}
.wrapper {
    display: flow-root;
    margin-bottom: 20px;
}
.wrapper.profile{
    background-color: #fff;
}

.info_box_title span {
    padding: 16px 14px 15px 17px;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.53;
}
.input-group-addon {
    background-image: url(/assets/images/calendar-alt.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 16px 20px;
    background-color: #fff;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
}
.glyphicon {
    display: none;
}
.prev, .prev:hover {
    background: url(/assets/images/arrow_blue.svg) !important;
    -webkit-transform: rotate(90deg) !important;
        -ms-transform: rotate(90deg) !important;
            transform: rotate(90deg) !important;
    background-repeat: no-repeat !important;
    background-size: 20px !important;
    background-position: center !important;
}
.next, .next:hover {
    background: url(/assets/images/arrow_blue.svg) !important;
    -webkit-transform: rotate(-90deg) !important;
        -ms-transform: rotate(-90deg) !important;
            transform: rotate(-90deg) !important;
    background-repeat: no-repeat !important;
    background-size: 20px !important;
    background-position: center !important;
}
.not_public {
    position: absolute;
    right: -25%;
    top: 51px;
    font-size: 13px;
    opacity: 0.5;
    width: 18%;
}
.form-control {
    /*border: 1px solid #7F7CF1;*/
    /*opacity: 0.7;*/
}
.required_fields {
    margin: 25px 0;
}
.no_files {
    padding: 30px;
}
.file_upload.files {
    display: inline-block;
    width: 100%;
    margin-top: 57px;
    cursor: pointer;
}
.buttons a img {
    width: 29px;
    height: 29px;
    margin: 5px;
}
.buttons {
    margin-top: 45px;
}
input[type="file"] {
    display: none;
}
.errors_p {
    font-size: 13px;
    opacity: .6;
    color: red;
}
.no_files_user,
.no_links_user {
    width: 100%;
    padding-top: 20px;
}
.no_files_user a,
.no_links_user a {
    color: #3e3ea2;
    padding-top: 8px;
    display: inline-block;
}
.files_wrap {
    padding-bottom: 20px;
}
.content_leader_file,
.content_leader_link {
    background: #fff;
    display: inline-block;
    padding-bottom: 20px;
    width: 100%;
}
mark.error {
    background: #fff;
    width: 91px;
    display: inline-block;
    color: red;
    font-size: 13px;
    margin-top: -11px;
    position: absolute;
}
mark {
    background: transparent;
    color: #242424;
    font-size: 13px;
}
mark img {
    width: 20px;
    padding-top: 7px;
}

input.check_full, textarea.check_full {
    background-image: url(/assets/images/check.svg);
    background-repeat: no-repeat;
    background-position: 4px;
    background-size: 14px;
    padding-right: 30px;
    background-position-x: 98%;
}
.error_empty {
    border: 2px solid #FF4D4D !important;
}
/*input:hover, input:focus, input:active, input.text:focus {*/
/*border: 1px solid #3E3EA2;*/
/*}*/

.correct_data_hover {

}
.correct_data_normal {

}
.error_message {
    color: #FF4D4D;
    font-size: 13px;
    display: none;
    position: absolute;
    right: 14px;
    top: 26px;
}
.title_menu_admin {
    margin-bottom: 20px;
}
.no_files_user p,
.no_links_user p {
    opacity: 0.7;
    font-size: 14px;
    padding: 9px 0px 0px 17px;
}
.wrap_buttons {
    display: block;
    margin-top: 60px;
}
.link_error_http {
    display: none;
}
span.error {
    background: #fff;
    display: inline-block;
    color: red;
    font-size: 13px;
}
#mark_img img {
    width: 20px;
    position: absolute;
    top: -8px;
}
.buttons .trash_btn {
    display: inline-block;
    background-image: url("/assets/images/Trash_Line_Red.svg");
    width: 29px;
    height: 29px;
    margin: 5px;
}
.buttons .trash_btn:hover {
    background-image: url("/assets/images/Trash_Solid_Hover_Red.svg");
}
.buttons .add_btn {
    display: inline-block;
    background-image: url("/assets/images/Add_Line_Blue.svg");
    width: 29px;
    height: 29px;
    margin: 5px;
}
.buttons .add_btn:hover {
    background-image: url("/assets/images/Add_Solid_Hover_Blue.svg");
}
.buttons {
    text-align: right;
    padding-top: 30px;
}
.load_file:hover {
    background-color: #FFD64D;
}
.load_file:focus {
    background-color: #EBBD21;
}
.input-group.date.form_date {
    width: 94.5%;
}
.input-group-addon:last-child {
    position: absolute;
    right: -41px;
    top: 0;
    height: 42px;
}
#result_public {
    display: none;
}
#result_public img {
    width: 20px;
    margin: 15px;
}
.data_recommends span {
    opacity: 0.7;
    font-size: 13px !important;
}
table tr td,
table tr td p,
table tr td a,
table tr td span {
    font-size: 13px !important;
}
table tr td p span {
    opacity: 0.7;
}
#ajax_info_user span,
#ajax_info_leader span {
    font-size: 13px !important;
    opacity: 0.7;
}
#ajax_info_user a,
#ajax_info_leader a {
    font-size: 13px !important;
    color: #3e3ea2;
}
.modal-content {
    height: auto;
    width: auto;
}